
.sprite-arrow-white-right(@factor:1) {
  background-image: url('/dist/sprite/png/arrow-white-right.png');
  background-image: linear-gradient(transparent, transparent), url('png/arrow-white-right.png');
  background-repeat: no-repeat;
  width: (23px * @factor);
  height: (15px * @factor);
  background-size: 100% 100%;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -999em;
  display: inline-block;
}


.sprite-arrow-white-right-before(@factor:1; @valign: baseline; @margin: .5em;) {
  &:before {
    content: "";
    .sprite-arrow-white-right(@factor);
    vertical-align: @valign;
    margin-right: @margin;
  }
}


.sprite-arrow-white-right-after(@factor:1; @valign: baseline; @margin: .5em;) {
  &:after {
    content: "";
    .sprite-arrow-white-right(@factor);
    vertical-align: @valign;
    margin-left: @margin;
  }
}


.sprite-background(@factor:1) {
  background-image: url('/dist/sprite/png/background.png');
  background-image: linear-gradient(transparent, transparent), url('png/background.png');
  background-repeat: no-repeat;
  width: (1200px * @factor);
  height: (1200px * @factor);
  background-size: 100% 100%;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -999em;
  display: inline-block;
}


.sprite-background-before(@factor:1; @valign: baseline; @margin: .5em;) {
  &:before {
    content: "";
    .sprite-background(@factor);
    vertical-align: @valign;
    margin-right: @margin;
  }
}


.sprite-background-after(@factor:1; @valign: baseline; @margin: .5em;) {
  &:after {
    content: "";
    .sprite-background(@factor);
    vertical-align: @valign;
    margin-left: @margin;
  }
}


.sprite-bars(@factor:1) {
  background-image: url('/dist/sprite/png/bars.png');
  background-image: linear-gradient(transparent, transparent), url('png/bars.png');
  background-repeat: no-repeat;
  width: (35px * @factor);
  height: (35px * @factor);
  background-size: 100% 100%;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -999em;
  display: inline-block;
}


.sprite-bars-before(@factor:1; @valign: baseline; @margin: .5em;) {
  &:before {
    content: "";
    .sprite-bars(@factor);
    vertical-align: @valign;
    margin-right: @margin;
  }
}


.sprite-bars-after(@factor:1; @valign: baseline; @margin: .5em;) {
  &:after {
    content: "";
    .sprite-bars(@factor);
    vertical-align: @valign;
    margin-left: @margin;
  }
}


.sprite-bible-audio(@factor:1) {
  background-image: url('/dist/sprite/png/bible-audio.png');
  background-image: linear-gradient(transparent, transparent), url('png/bible-audio.png');
  background-repeat: no-repeat;
  width: (28px * @factor);
  height: (20px * @factor);
  background-size: 100% 100%;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -999em;
  display: inline-block;
}


.sprite-bible-audio-before(@factor:1; @valign: baseline; @margin: .5em;) {
  &:before {
    content: "";
    .sprite-bible-audio(@factor);
    vertical-align: @valign;
    margin-right: @margin;
  }
}


.sprite-bible-audio-after(@factor:1; @valign: baseline; @margin: .5em;) {
  &:after {
    content: "";
    .sprite-bible-audio(@factor);
    vertical-align: @valign;
    margin-left: @margin;
  }
}


.sprite-bible-text(@factor:1) {
  background-image: url('/dist/sprite/png/bible-text.png');
  background-image: linear-gradient(transparent, transparent), url('png/bible-text.png');
  background-repeat: no-repeat;
  width: (18px * @factor);
  height: (20px * @factor);
  background-size: 100% 100%;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -999em;
  display: inline-block;
}


.sprite-bible-text-before(@factor:1; @valign: baseline; @margin: .5em;) {
  &:before {
    content: "";
    .sprite-bible-text(@factor);
    vertical-align: @valign;
    margin-right: @margin;
  }
}


.sprite-bible-text-after(@factor:1; @valign: baseline; @margin: .5em;) {
  &:after {
    content: "";
    .sprite-bible-text(@factor);
    vertical-align: @valign;
    margin-left: @margin;
  }
}


.sprite-close(@factor:1) {
  background-image: url('/dist/sprite/png/close.png');
  background-image: linear-gradient(transparent, transparent), url('png/close.png');
  background-repeat: no-repeat;
  width: (35px * @factor);
  height: (35px * @factor);
  background-size: 100% 100%;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -999em;
  display: inline-block;
}


.sprite-close-before(@factor:1; @valign: baseline; @margin: .5em;) {
  &:before {
    content: "";
    .sprite-close(@factor);
    vertical-align: @valign;
    margin-right: @margin;
  }
}


.sprite-close-after(@factor:1; @valign: baseline; @margin: .5em;) {
  &:after {
    content: "";
    .sprite-close(@factor);
    vertical-align: @valign;
    margin-left: @margin;
  }
}


.sprite-download(@factor:1) {
  background-image: url('/dist/sprite/png/download.png');
  background-image: linear-gradient(transparent, transparent), url('png/download.png');
  background-repeat: no-repeat;
  width: (20px * @factor);
  height: (20px * @factor);
  background-size: 100% 100%;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -999em;
  display: inline-block;
}


.sprite-download-before(@factor:1; @valign: baseline; @margin: .5em;) {
  &:before {
    content: "";
    .sprite-download(@factor);
    vertical-align: @valign;
    margin-right: @margin;
  }
}


.sprite-download-after(@factor:1; @valign: baseline; @margin: .5em;) {
  &:after {
    content: "";
    .sprite-download(@factor);
    vertical-align: @valign;
    margin-left: @margin;
  }
}


.sprite-logo(@factor:1) {
  background-image: url('/dist/sprite/png/logo.png');
  background-image: linear-gradient(transparent, transparent), url('png/logo.png');
  background-repeat: no-repeat;
  width: (80px * @factor);
  height: (80px * @factor);
  background-size: 100% 100%;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -999em;
  display: inline-block;
}


.sprite-logo-before(@factor:1; @valign: baseline; @margin: .5em;) {
  &:before {
    content: "";
    .sprite-logo(@factor);
    vertical-align: @valign;
    margin-right: @margin;
  }
}


.sprite-logo-after(@factor:1; @valign: baseline; @margin: .5em;) {
  &:after {
    content: "";
    .sprite-logo(@factor);
    vertical-align: @valign;
    margin-left: @margin;
  }
}


.sprite-menu(@factor:1) {
  background-image: url('/dist/sprite/png/menu.png');
  background-image: linear-gradient(transparent, transparent), url('png/menu.png');
  background-repeat: no-repeat;
  width: (35px * @factor);
  height: (35px * @factor);
  background-size: 100% 100%;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -999em;
  display: inline-block;
}


.sprite-menu-before(@factor:1; @valign: baseline; @margin: .5em;) {
  &:before {
    content: "";
    .sprite-menu(@factor);
    vertical-align: @valign;
    margin-right: @margin;
  }
}


.sprite-menu-after(@factor:1; @valign: baseline; @margin: .5em;) {
  &:after {
    content: "";
    .sprite-menu(@factor);
    vertical-align: @valign;
    margin-left: @margin;
  }
}


.sprite-search(@factor:1) {
  background-image: url('/dist/sprite/png/search.png');
  background-image: linear-gradient(transparent, transparent), url('png/search.png');
  background-repeat: no-repeat;
  width: (33px * @factor);
  height: (33px * @factor);
  background-size: 100% 100%;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -999em;
  display: inline-block;
}


.sprite-search-before(@factor:1; @valign: baseline; @margin: .5em;) {
  &:before {
    content: "";
    .sprite-search(@factor);
    vertical-align: @valign;
    margin-right: @margin;
  }
}


.sprite-search-after(@factor:1; @valign: baseline; @margin: .5em;) {
  &:after {
    content: "";
    .sprite-search(@factor);
    vertical-align: @valign;
    margin-left: @margin;
  }
}


.sprite-slice1(@factor:1) {
  background-image: url('/dist/sprite/png/slice1.png');
  background-image: linear-gradient(transparent, transparent), url('png/slice1.png');
  background-repeat: no-repeat;
  width: (32px * @factor);
  height: (32px * @factor);
  background-size: 100% 100%;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -999em;
  display: inline-block;
}


.sprite-slice1-before(@factor:1; @valign: baseline; @margin: .5em;) {
  &:before {
    content: "";
    .sprite-slice1(@factor);
    vertical-align: @valign;
    margin-right: @margin;
  }
}


.sprite-slice1-after(@factor:1; @valign: baseline; @margin: .5em;) {
  &:after {
    content: "";
    .sprite-slice1(@factor);
    vertical-align: @valign;
    margin-left: @margin;
  }
}


.sprite-ui-close(@factor:1) {
  background-image: url('/dist/sprite/png/ui-close.png');
  background-image: linear-gradient(transparent, transparent), url('png/ui-close.png');
  background-repeat: no-repeat;
  width: (400px * @factor);
  height: (300px * @factor);
  background-size: 100% 100%;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -999em;
  display: inline-block;
}


.sprite-ui-close-before(@factor:1; @valign: baseline; @margin: .5em;) {
  &:before {
    content: "";
    .sprite-ui-close(@factor);
    vertical-align: @valign;
    margin-right: @margin;
  }
}


.sprite-ui-close-after(@factor:1; @valign: baseline; @margin: .5em;) {
  &:after {
    content: "";
    .sprite-ui-close(@factor);
    vertical-align: @valign;
    margin-left: @margin;
  }
}


.sprite-ui-menu(@factor:1) {
  background-image: url('/dist/sprite/png/ui-menu.png');
  background-image: linear-gradient(transparent, transparent), url('png/ui-menu.png');
  background-repeat: no-repeat;
  width: (400px * @factor);
  height: (300px * @factor);
  background-size: 100% 100%;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -999em;
  display: inline-block;
}


.sprite-ui-menu-before(@factor:1; @valign: baseline; @margin: .5em;) {
  &:before {
    content: "";
    .sprite-ui-menu(@factor);
    vertical-align: @valign;
    margin-right: @margin;
  }
}


.sprite-ui-menu-after(@factor:1; @valign: baseline; @margin: .5em;) {
  &:after {
    content: "";
    .sprite-ui-menu(@factor);
    vertical-align: @valign;
    margin-left: @margin;
  }
}


.sprite-ui-search(@factor:1) {
  background-image: url('/dist/sprite/png/ui-search.png');
  background-image: linear-gradient(transparent, transparent), url('png/ui-search.png');
  background-repeat: no-repeat;
  width: (400px * @factor);
  height: (300px * @factor);
  background-size: 100% 100%;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -999em;
  display: inline-block;
}


.sprite-ui-search-before(@factor:1; @valign: baseline; @margin: .5em;) {
  &:before {
    content: "";
    .sprite-ui-search(@factor);
    vertical-align: @valign;
    margin-right: @margin;
  }
}


.sprite-ui-search-after(@factor:1; @valign: baseline; @margin: .5em;) {
  &:after {
    content: "";
    .sprite-ui-search(@factor);
    vertical-align: @valign;
    margin-left: @margin;
  }
}


.sprite-ui-settings(@factor:1) {
  background-image: url('/dist/sprite/png/ui-settings.png');
  background-image: linear-gradient(transparent, transparent), url('png/ui-settings.png');
  background-repeat: no-repeat;
  width: (400px * @factor);
  height: (300px * @factor);
  background-size: 100% 100%;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -999em;
  display: inline-block;
}


.sprite-ui-settings-before(@factor:1; @valign: baseline; @margin: .5em;) {
  &:before {
    content: "";
    .sprite-ui-settings(@factor);
    vertical-align: @valign;
    margin-right: @margin;
  }
}


.sprite-ui-settings-after(@factor:1; @valign: baseline; @margin: .5em;) {
  &:after {
    content: "";
    .sprite-ui-settings(@factor);
    vertical-align: @valign;
    margin-left: @margin;
  }
}

