{% extends '::global.html.twig' %}
{# {% block visual %}
    <header class="visual">
        {% if content.mainImage is defined and content.mainImage|length %}
            <img src="{{content.mainImage|first|imagine_filter('banner_home')}}" alt=" ">
        {% else %}
            <img src="/assets/img/default-header-home.jpg" alt=" ">
        {% endif %}
    </header>
{% endblock %}
 #}
                {% block content %}
                    <div class="row">
                        <div class="{{content.mainColClass}} main-content botspace">
                            <h1>{{content.title}}</h1>
                            {% if content.subtitle|length %}<h2>{{content.subtitle}}</h2>{% endif %}
                            {% block meta %}{% endblock %}
                            {% if content.intro|length %}<div class="intro">{{content.intro|raw}}</div>{% endif %}
                            <img src="/protoimg.php?w=400&amp;h=150" alt="">
                            {% if content.body|length %}{{content.body|raw}}{% endif %}
                        </div>
                        {% if content.hasSidebar %}
                            <aside class="col-sm-5 main-sidebar botspace">
                                {% if content.downloads is defined and content.downloads|length %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Downloads</div>
                                        <div class="panel-body">
                                            <ul>
                                                {% for file in content.downloads %}
                                                <li>
                                                    <a href="{{file.path}}">{{file.originalName}}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            </aside>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-3">
                            <div class="contact">
                                    {{ render(controller('SiteBundle:ContactForm:form', {'request':app.request})) }}
                                    {{ render_flash_alerts() }}
                                
                            </div>
                        </div>
                    </div>
                {% endblock %}
