{% extends '::global.html.twig' %}


{# {% block content %}
   <div class="row">
        <div class="col-sm-7">
            <h1>{{content.title}}</h1>
            <h2>{{content.subtitle}}</h2>
            <div class="intro">{{content.intro|raw}}</div>
            <img src="/protoimg.php?w=400&amp;h=150" alt="">
            {{content.body|raw}}
            



        </div>
        <aside class="col-sm-5 sidebar-right">
        	{{ blocks.downloads() }}
        </aside>
    </div>
{% endblock %} #}