{% extends '::global.html.twig' %}


{% block content %}
    {% for item in content.children %}
        {% include 'parts/default-thumb.html.twig' with {'item':item} only %}
    {% endfor %}
{% endblock %}