{# picture macro for images larger than 800px - using it on smaller would be useless #}
{% macro picture(image,profile,breakpoint_sm,breakpoint_md) %}
    {% if image %}
        <picture>
            <source 
                srcset="{{image|imagine_filter(profile)}}" 
                media="(min-width: {{ breakpoint_md|default('800px') }})">
            <source 
                srcset="{{ ('/media/cache/' ~ profile ~ '/uploads/' ~ image.name)|imagine_filter('picture_md') }}" 
                media="(min-width: {{ breakpoint_sm|default('400px') }})">
            <img 
                srcset="{{ ('/media/cache/' ~ profile ~ '/uploads/' ~ image.name)|imagine_filter('picture_sm') }}" 
                alt="{{image.originalName}}">
        </picture>
    {% else %}
        <!-- IMAGE SRC NOT FOUND -->
    {% endif %}
{% endmacro %}

{# picture macro for images larger than 400px and smaller than 800px #}
{% macro picture_sm(image,profile,breakpoint) %}
    {% if image %}
        <picture>
            <source srcset="{{image|imagine_filter(profile)}}" media="(min-width: {{ breakpoint|default('400px')}})">
            <img 
                srcset="{{ ('/media/cache/' ~ profile ~ '/uploads/' ~ image.name)|imagine_filter('picture_sm') }}" 
                alt="{{image.originalName}}">
        </picture>
    {% else %}
        <!-- IMAGE SRC NOT FOUND -->
    {% endif %}
{% endmacro %}

{# downloads block for 99% of the cases #}
{% macro downloads(files,title) %}
    {% if files is not empty %}
        <div class="downloads">
            {% if title %}<h3>{{title}}</h3>{% endif %}
            <ul class="downloads-list">
                {% for file in files %}
                    <li><a href="{{file.path}}">{{file.originalName}}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}