{% import "blocks.html.twig" as blocks %}
{% block fullpage %}
<!DOCTYPE html>
<html class="no-js" lang="{{content.language.iso|default('nl')}}">
    <head>
        {% block head %}

            <title>{% block title %}{% if content.node.title|default(false) is not empty %}{{content.node.title}}{% elseif content.title|default(false) is not empty %}{{content.title}}{% endif %}{% endblock %}</title>
        
            <meta name="keywords" content="{{content.node.keywords|default()}}">
            <meta name="description" content="{{content.node.description|default()}}">
            
            {% if content.node.allowIndexing|default(false) == false or app.environment != 'prod' %}<meta name="robots" content="noindex">{% endif %}
            
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <meta property="og:title" content="{{content.title|default(app.request.getSchemeAndHttpHost())}}" />
            <meta property="og:type" content="{% block ogtype %}website{% endblock %}">
            <meta property="og:url" content="{{app.request.uri}}">
            <meta property="og:image" content="{% if content is defined and content.getImage|length|default(false) %}{{ content.getImage|first|imagine_filter('og')}}{% else %}{{app.request.getSchemeAndHttpHost() ~ '/assets/img/og.jpg'}}{% endif %}">

            <link rel="stylesheet" href="/assets/css/global.min.css"/>
            
            <script src="/assets/js/header.min.js" async></script>

        {% endblock %}
    </head>

    <body class="template-{{content.className|default('undefined')}}">
        
        {% block nav %}
        <nav id="show-menu" class="site-nav" role="navigation">
                
            <a class="logo" href="/">{{ content.title|default(app.request.requestUri) }}</a>

            <a rel="nofollow" href="#show-menu" class="show-menu">Menu</a>
            <a rel="nofollow" href="#" class="hide-menu">Menu</a>
            <div class="menu-wrapper">
                {{ render(controller('CMSBundle:_Default/Menu:render',{'url': app.request.requestUri,'key' : 'main'} )) }}
            </div>

        </nav>
        {% endblock %}

        <main>
        {% block visual %}
            {% if content is defined and content.mainImage|length > 0 %}
                <header class="flexslider visual">
                    <ul class="slides">
                        {% for img in content.mainImage %}
                            <li class="slide">
                                {{ blocks.picture(content.mainImage|first,'visual_high') }}
                            </li>
                        {% endfor %}
                    </ul>
                </header>
            {% endif %}

        {% endblock %}
        {% block main %}
            <div class="container topspace">
                {% block content %}
                    <div class="row">
                        <div class="{{content.mainColClass}} main-content botspace">
                            <h1>{{content.title}}</h1>
                            {% if content.subtitle|length %}<h2>{{content.subtitle}}</h2>{% endif %}
                            {% block meta %}{% endblock %}
                            {% if content.intro|length %}<div class="intro">{{content.intro|raw}}</div>{% endif %}
                            <img src="/protoimg.php?w=400&amp;h=150" alt="">
                            {% if content.body|length %}{{content.body|raw}}{% endif %}
                        </div>
                        {% if content.hasSidebar %}
                            <aside class="col-sm-5 main-sidebar botspace">
                                {% if content.downloads is defined and content.downloads|length %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Downloads</div>
                                        <div class="panel-body">
                                            <ul>
                                                {% for file in content.downloads %}
                                                <li>
                                                    <a href="{{file.path}}">{{file.originalName}}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            </aside>
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <span class="logo">Bedrijf</span>
                         <p>
                            Adres 12<br>
                            1234 AB Duckstad
                        </p>
                         <p>
                            <a class="phone" href="tel:+31 (0)123 - 456 789">+31 (0)123 - 456 789</a><br>
                            <a class="email" href="mailto:info@domein.nl">info@domein.nl</a><br>
                         </p>
                    </div>
    
                </div>
                <div class="colophon">
                    <p>&copy; Copyright {{ "now"|date("Y") }}</p>    
                    <p>Site door <a href="http://reprovinci.nl">Reprovinci</a></p>
                </div>
            </div>
        </footer>

        {% block scripts %}
            <script src="/assets/js/global.min.js" async></script>
            {# This is for "those" clients ;-)
            <script>
                $('a').each(function() {
                    // open all external links in new tab
                    var a = new RegExp('/' + window.location.host + '/');
                    if(!a.test(this.href)  && this.href.indexOf('http') > -1) {
                        console.log(this.href,$(this).attr('class'));
                        $(this).attr('target','_blank');
                    }
                    // open all downloads in new tab
                    if(this.href.indexOf('/uploads/') > -1) {
                        $(this).attr('target','_blank');
                    }
                });
            </script>#}
        {% endblock %}

    </body>
</html>
{% endblock %}