{% extends '::global.html.twig' %}

{% block banner_button %}{% endblock %}

{% block content %}

	<div class="container">
		{{ render(controller(
			'CMSBundle:_Default/Search:form',{'request':app.request}))
		}}

	    <div class="search-results">

			{% if results is empty %}
				<p>Er zijn geen resultaten gevonden</p>
			{% endif %}

	    	{% for content in results %}
	    	<article class="search-result botspace">
	    		<a href="{{ content.node.path }}">
	    			<header>
			    		<h2>{{ content.name }}</h2>
	    			</header>
					<p>{{ content.description|striptags }} <span class="readmore">Bekijk de pagina</span></p>
	    		</a>
	    	</article>
	    	{% endfor %}
	    </div>
	</div>


{% endblock %}