<div class="{% block class %}sidebar-block{% endblock %}">
	{% if not item.link is empty %}<a href="{{item.link}}">{% endif %}
		{% block content %}
		    {% block thumbnail %}
			    <figure class="thumbnail">
			    	{% block thumbnailContent %}
				    	{% if item.mainImage|length %}
							<img src="{{item.mainImage|first|imagine_filter('thumb')}}" alt=" ">
						{% else %}
							<img src="/protoimg.php?w=400&amp;h=300" alt="">
						{% endif %}
					{% endblock %}
			    </figure>
		    {% endblock %}
		    {% block caption %}
		        <div class="caption">
		            {% block captionContent %}
		                {% block title %}<h3>{% block titleContent %}{{item.title}}{% endblock %}</h3>{% endblock %}
		                {% if item.body is defined %}
		                	{% if '<p>' in item.body|raw %}
		                		{{item.body|raw}}
		                	{% else %}
		                		<p>{{item.body|raw}}</p>
		                	{% endif %}
		                {% endif %}
		                {% if item.buttonText %}
		                	<button class="btn">{{item.buttonText}}</button>
		                {% endif %}
		            {% endblock %}
		        </div>
		    {% endblock %}
		{% endblock %}
	{% if not item.link is empty %}</a>{% endif %}
</div>