
.sprite-bars(@factor:1) {
  background-image: url('/dist/sprite/png/bars.png');
  background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2235%22%20height%3D%2235%22%20viewBox%3D%220%200%2035%2035%22%3E%3Cg%20opacity%3D%22.6%22%3E%3Cpath%20d%3D%22M3%2034.5C1.622%2034.5.5%2033.38.5%2032V3C.5%201.622%201.622.5%203%20.5h29c1.38%200%202.5%201.122%202.5%202.5v29a2.5%202.5%200%200%201-2.5%202.5H3z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M32%201c1.103%200%202%20.897%202%202v29c0%201.103-.897%202-2%202H3c-1.103%200-2-.897-2-2V3c0-1.103.897-2%202-2h29m0-1H3a3%203%200%200%200-3%203v29a3%203%200%200%200%203%203h29a3%203%200%200%200%203-3V3a3%203%200%200%200-3-3z%22%2F%3E%3C%2Fg%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M28.145%2011.065c0%20.708-.57%201.28-1.28%201.28H8.14a1.28%201.28%200%200%201-1.284-1.28V9.357c0-.71.574-1.284%201.284-1.284h18.723c.707%200%201.28.572%201.28%201.28l.002%201.712zm0%207.29c0%20.707-.57%201.278-1.28%201.278H8.14a1.28%201.28%200%200%201-1.284-1.278v-1.71c0-.71.572-1.28%201.28-1.28H26.86c.71%200%201.28.57%201.28%201.28l.006%201.71zm0%207.29c0%20.71-.57%201.28-1.28%201.28H8.14a1.278%201.278%200%200%201-1.284-1.28v-1.71c0-.71.572-1.28%201.28-1.28H26.86c.71%200%201.28.57%201.28%201.28l.006%201.71z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: (35px * @factor);
  height: (35px * @factor);
  background-size: 100% 100%;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -999em;
  display: inline-block;
}


.sprite-bars-before(@factor:1; @valign: baseline; @margin: .5em;) {
  &:before {
    content: "";
    .sprite-bars(@factor);
    vertical-align: @valign;
    margin-right: @margin;
  }
}


.sprite-bars-after(@factor:1; @valign: baseline; @margin: .5em;) {
  &:after {
    content: "";
    .sprite-bars(@factor);
    vertical-align: @valign;
    margin-left: @margin;
  }
}


.sprite-close(@factor:1) {
  background-image: url('/dist/sprite/png/close.png');
  background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2235%22%20height%3D%2235%22%20viewBox%3D%220%200%2035%2035%22%3E%3Cg%20opacity%3D%22.6%22%3E%3Cpath%20d%3D%22M3%2034.5C1.622%2034.5.5%2033.38.5%2032V3C.5%201.622%201.622.5%203%20.5h29c1.38%200%202.5%201.122%202.5%202.5v29a2.5%202.5%200%200%201-2.5%202.5H3z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M32%201c1.103%200%202%20.897%202%202v29c0%201.103-.897%202-2%202H3c-1.103%200-2-.897-2-2V3c0-1.103.897-2%202-2h29m0-1H3a3%203%200%200%200-3%203v29a3%203%200%200%200%203%203h29a3%203%200%200%200%203-3V3a3%203%200%200%200-3-3z%22%2F%3E%3C%2Fg%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M20.65%2017.5l6.457-6.457c.52-.522.52-1.37%200-1.892l-1.262-1.26a1.337%201.337%200%200%200-1.89%200L17.5%2014.35l-6.456-6.46a1.338%201.338%200%200%200-1.892-.002l-1.26%201.26a1.34%201.34%200%200%200%200%201.894L14.35%2017.5l-6.457%206.456a1.338%201.338%200%200%200%200%201.894l1.26%201.26a1.34%201.34%200%200%200%201.894%200l6.455-6.455%206.456%206.455c.52.52%201.37.52%201.894%200l1.26-1.262a1.34%201.34%200%200%200%200-1.892L20.65%2017.5z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: (35px * @factor);
  height: (35px * @factor);
  background-size: 100% 100%;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -999em;
  display: inline-block;
}


.sprite-close-before(@factor:1; @valign: baseline; @margin: .5em;) {
  &:before {
    content: "";
    .sprite-close(@factor);
    vertical-align: @valign;
    margin-right: @margin;
  }
}


.sprite-close-after(@factor:1; @valign: baseline; @margin: .5em;) {
  &:after {
    content: "";
    .sprite-close(@factor);
    vertical-align: @valign;
    margin-left: @margin;
  }
}


.sprite-download(@factor:1) {
  background-image: url('/dist/sprite/png/download.png');
  background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%2366C6E8%22%20d%3D%22M0%2010c0-2.76.977-5.117%202.93-7.07S7.24%200%2010%200c2.76%200%205.117.977%207.07%202.93S20%207.24%2020%2010c0%202.76-.977%205.117-2.93%207.07S12.76%2020%2010%2020c-2.76%200-5.117-.977-7.07-2.93S0%2012.76%200%2010zm2.188%200c0%202.162.762%204.004%202.285%205.527S7.838%2017.812%2010%2017.812s4.004-.762%205.527-2.285%202.285-3.365%202.285-5.527-.762-4.004-2.285-5.527S12.162%202.188%2010%202.188s-4.004.762-5.527%202.285S2.188%207.838%202.188%2010zm3.398.273h2.46V5.82h3.907v4.453h2.46L10%2014.413l-4.414-4.14z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: (20px * @factor);
  height: (20px * @factor);
  background-size: 100% 100%;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -999em;
  display: inline-block;
}


.sprite-download-before(@factor:1; @valign: baseline; @margin: .5em;) {
  &:before {
    content: "";
    .sprite-download(@factor);
    vertical-align: @valign;
    margin-right: @margin;
  }
}


.sprite-download-after(@factor:1; @valign: baseline; @margin: .5em;) {
  &:after {
    content: "";
    .sprite-download(@factor);
    vertical-align: @valign;
    margin-left: @margin;
  }
}


.sprite-logo(@factor:1) {
  background-image: url('/dist/sprite/png/logo.png');
  background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2280%22%20height%3D%2280%22%20viewBox%3D%2238.5%20103%2080%2080%22%3E%3Cpath%20fill%3D%22%23DDD%22%20d%3D%22M38.5%20103h80v80h-80z%22%2F%3E%3Cpath%20d%3D%22M64.657%20138.438h1.056v7.208h3.454v.875h-4.51v-8.08zm12.116%203.958c0%202.77-1.69%204.258-3.754%204.258-2.15%200-3.64-1.667-3.64-4.114%200-2.566%201.58-4.246%203.74-4.246%202.22%200%203.644%201.69%203.644%204.102zm-6.284.12c0%201.74.93%203.286%202.59%203.286%201.65%200%202.59-1.522%202.59-3.358%200-1.62-.84-3.298-2.58-3.298-1.74%200-2.6%201.606-2.6%203.37zm13.8%203.646a7.31%207.31%200%200%201-2.495.443c-1.223%200-2.23-.312-3.02-1.067-.696-.672-1.127-1.75-1.127-3.01%200-2.41%201.667-4.174%204.38-4.174.935%200%201.68.204%202.026.372l-.268.852c-.434-.204-.974-.348-1.79-.348-1.966%200-3.25%201.223-3.25%203.25%200%202.052%201.225%203.263%203.12%203.263.684%200%201.15-.096%201.392-.217v-2.41h-1.63v-.84h2.664v3.886zm8.495-3.766c0%202.77-1.69%204.258-3.754%204.258-2.147%200-3.635-1.667-3.635-4.114%200-2.566%201.585-4.246%203.744-4.246%202.22%200%203.646%201.69%203.646%204.102zm-6.284.12c0%201.74.935%203.286%202.59%203.286%201.654%200%202.59-1.522%202.59-3.358%200-1.62-.84-3.298-2.58-3.298s-2.6%201.606-2.6%203.37z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: (80px * @factor);
  height: (80px * @factor);
  background-size: 100% 100%;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -999em;
  display: inline-block;
}


.sprite-logo-before(@factor:1; @valign: baseline; @margin: .5em;) {
  &:before {
    content: "";
    .sprite-logo(@factor);
    vertical-align: @valign;
    margin-right: @margin;
  }
}


.sprite-logo-after(@factor:1; @valign: baseline; @margin: .5em;) {
  &:after {
    content: "";
    .sprite-logo(@factor);
    vertical-align: @valign;
    margin-left: @margin;
  }
}


.sprite-menu(@factor:1) {
  background-image: url('/dist/sprite/png/menu.png');
  background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2235%22%20height%3D%2235%22%20viewBox%3D%2246%2046%2035%2035%22%3E%3Cpath%20fill%3D%22%23FFF%22%20stroke%3D%22%23B3B3B3%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M79.5%2074.5a5%205%200%200%201-5%205h-22a5%205%200%200%201-5-5v-22a5%205%200%200%201%205-5h22a5%205%200%200%201%205%205v22z%22%2F%3E%3Cpath%20fill%3D%22%23BFBFBF%22%20d%3D%22M73.5%2055.25c0%20.553-.344%201-.77%201H54.27c-.426%200-.77-.447-.77-1v-1c0-.553.344-1%20.77-1h18.46c.426%200%20.77.447.77%201v1zm0%208.75c0%20.553-.344%201-.77%201H54.27c-.426%200-.77-.447-.77-1v-1c0-.553.344-1%20.77-1h18.46c.426%200%20.77.447.77%201v1zm0%208.75c0%20.553-.344%201-.77%201H54.27c-.426%200-.77-.447-.77-1v-1c0-.553.344-1%20.77-1h18.46c.426%200%20.77.447.77%201v1z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: (35px * @factor);
  height: (35px * @factor);
  background-size: 100% 100%;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -999em;
  display: inline-block;
}


.sprite-menu-before(@factor:1; @valign: baseline; @margin: .5em;) {
  &:before {
    content: "";
    .sprite-menu(@factor);
    vertical-align: @valign;
    margin-right: @margin;
  }
}


.sprite-menu-after(@factor:1; @valign: baseline; @margin: .5em;) {
  &:after {
    content: "";
    .sprite-menu(@factor);
    vertical-align: @valign;
    margin-left: @margin;
  }
}


.sprite-search(@factor:1) {
  background-image: url('/dist/sprite/png/search.png');
  background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2233%22%20height%3D%2233%22%20viewBox%3D%220%200%2033%2033%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M24.532%2022.275l-2.818-2.818A7.403%207.403%200%200%200%2022.9%2015.45a7.45%207.45%200%201%200-7.45%207.45c1.48%200%202.848-.443%204.006-1.186l2.818%202.818a1.596%201.596%200%201%200%202.258-2.257zm-9.082-1.503a5.322%205.322%200%201%201%200-10.645%205.322%205.322%200%200%201%200%2010.645z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: (33px * @factor);
  height: (33px * @factor);
  background-size: 100% 100%;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -999em;
  display: inline-block;
}


.sprite-search-before(@factor:1; @valign: baseline; @margin: .5em;) {
  &:before {
    content: "";
    .sprite-search(@factor);
    vertical-align: @valign;
    margin-right: @margin;
  }
}


.sprite-search-after(@factor:1; @valign: baseline; @margin: .5em;) {
  &:after {
    content: "";
    .sprite-search(@factor);
    vertical-align: @valign;
    margin-left: @margin;
  }
}

