<ul class="language-list">
    {% for language in languages %}
        <li class="{%  if language.id == currentLanguage.id %}active{% endif %}">
            <a href="{{ path('language__set',{'iso':language.iso,'node':node}) }}">{{ language.iso }}</a>
        </li>
    {% endfor %}
</ul>

{# <nav id="content-language" role="navigation">
    <p class="helptext">{% trans %}Change the content language{% endtrans %}</p>
    <button type="button">{{ currentLanguage.iso }}</button>
    <div>
        <ul>
            {% for language in languages %}
                <li class="{%  if language.id == currentLanguage.id %}active{% endif %}">
                    <a href="{{ path('language__set',{'iso':language.iso,'node':node}) }}">{{ language.name|trans }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav> #}