/***
  title: site-footer
  section: X - other
  description: framework
  example: |
    <footer class="site-footer">Lorem ipsum</footer>
***/

.site-footer {
    padding-top: 1em;   
    padding-bottom: 4em;
    text-transform: uppercase;
    &, a { color: #333; }
}

.colophon {
  text-transform: uppercase;
  font-weight: 300;
  color: @gray;
  a {
    font-weight: 700;
    color: @gray;
  }
  p {
    margin: 0;
  }
  @media screen and (max-width: @screen-sm-max){
    margin-top: 4em;
  }
  @media screen and (min-width: @screen-md-min){
    text-align: center;
    padding-top: 4em;
    p {
      display: inline-block;
      & + p {
        margin-left: 1em;
        padding-left: 1em;
        border-left: solid 1px @gray;
      }
    }
  }
}