body{
    @media screen and (min-width: @menu-breakpoint){
        padding-top: 90px;
    }
}
.site-nav {
    background: #000;
    text-transform: uppercase;
    font-weight: 300;
    padding-left: 15px;
    //padding-right: 15px;
    a {
        color: #fff;
        &:focus,
        &:hover {
            text-decoration: none;
        }
    }
    .logo {
        .sprite-logo();
        @media screen and (max-width: @menu-breakpoint){
            display: block;
            width: 100px * .6;
            height: 100px * .6;
        }
        @media screen and (min-width: @menu-breakpoint) and (max-width: @screen-xs-max){
            display: block;
            width: 100px * .8;
            height: 100px * .8;
        }
        @media screen and (min-width: @menu-breakpoint){
            margin: .5em 0;
            float: left;
        }
        @media screen and (min-width: @screen-sm-min){
            //.sprite-logo();
            margin: .5em 0;
        }
    }
    @media screen and (min-width: @menu-breakpoint){
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        right: 0;
        .translate(0,0);
        .transition(.3s ease-in);
        body.collapse & {
            .translate(0,-100%);
            .transition(.3s ease-in);
        }
    }

}
.menu-wrapper {
    @media screen and (max-width: @menu-breakpoint){
        .clearfix();
        background: #333;
        position: absolute;
        z-index: 9999;
        left: 0;
        right: 0;
        padding-left: 15px;
        padding-right: 15px;
        > * {
            &:first-child {
                margin-top: 15px;
            }
            &:last-child {
                margin-bottom: 15px;
            }
        }
        form {
            margin-bottom: 1em;
        }
    }
    @media screen and (min-width: @menu-breakpoint){
        display: block;
        float: right;
    }
}

.show-menu,
.hide-menu {
    position: absolute;
    top: 1em; 
    right: 1em;
}
.show-menu {
    .sprite-menu-after(@valign: -13px);
}
.hide-menu {
    .sprite-close-after(@valign: -13px);
}



/**
 *
 * topnav logic
 *
 */
.show-menu,
.hide-menu {
    @media screen and (min-width: @menu-breakpoint) {
        display: none !important;
    }
}
.show-menu {
}
.hide-menu {
    display: none;
}
.menu-wrapper {
    @media screen and (max-width: @menu-breakpoint) {
        max-height: 0;
        overflow: hidden;
        .transition(.2s);
    }
    @media screen and (min-width: @menu-breakpoint) {
        max-height: none;
        overflow: visible;
    }
}
#show-menu {
    &:target {
        .menu-wrapper {
            max-height: 25em;
            .transition(.3s);
        }
        .hide-menu {
            display: block;
        }
        .show-menu {
            display: none;
        }
    }
}