// topmenu wrapper
.top-menu-wrapper {
	@media screen and (min-width: @menu-breakpoint){
		float: right;
		ul {
			float: left;
		}
		form {
			float: right;
		}
	}
}

// topmenu
.top-menu {
	@media screen and (min-width: @menu-breakpoint){
		margin: 1.2em 1em 0 0;
		li {
			float: left;
		}
		li.active {
			font-weight: bold;
		}
		a {
			padding: .9em 1em;
			height: 50px;
			font-size: 14/16em;
		}
	}
}
