// --------------------------------- */
// type
// --------------------------------- */

@font-size-h1:            42 / 16em;
@font-size-h2:            28 / 16em;
@font-size-h3:            20 / 16em;
@font-size-h4:            @font-size-base;
@font-size-h5:            @font-size-base;
@font-size-h6:            @font-size-base;

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  ul + &,
  p + & {
  	margin-top: 1.5em;
  }
}

h1, h2, h3, h4 {
	font-weight: 700;
}

h1, .h1 { font-size: @font-size-h1; }
h2, .h2 { font-size: @font-size-h2; }
h3, .h3 { font-size: @font-size-h3; }
h4, .h4 { font-size: @font-size-h4; }
h5, .h5 { font-size: @font-size-h5; }
h6, .h6 { font-size: @font-size-h6; }

.intro,
.lead {
  font-weight: 700;
}

.text {
	p {
		max-width: 40em;
	}
}

p {
 &:empty {
  display: none;
 }
}