
// fonts imported here to make them work in styleguide
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

// ------------------------------------------
// -------------- bootstrap
// Core variables and mixins
@import "../node_modules/bootstrap/less/variables.less";
@import "../node_modules/bootstrap/less/mixins.less";

// Reset
@import "../node_modules/bootstrap/less/normalize.less";
//@import "../node_modules/bootstrap/less/print.less";

// Core CSS
@import "../node_modules/bootstrap/less/scaffolding.less";
@import "../node_modules/bootstrap/less/type.less";
// @import "../node_modules/bootstrap/less/code.less";
@import "../node_modules/bootstrap/less/grid.less";
// @import "../node_modules/bootstrap/less/tables.less";
// @import "../node_modules/bootstrap/less/forms.less";
//@import "../node_modules/bootstrap/less/buttons.less";

// Components
// @import "../node_modules/bootstrap/less/component-animations.less";
// @import "../node_modules/bootstrap/less/glyphicons.less";
//@import "../node_modules/bootstrap/less/dropdowns.less";
// @import "../node_modules/bootstrap/less/button-groups.less";
// @import "../node_modules/bootstrap/less/input-groups.less";
//@import "../node_modules/bootstrap/less/navs.less";
//@import "../node_modules/bootstrap/less/navbar.less";
// @import "../node_modules/bootstrap/less/breadcrumbs.less";
// @import "../node_modules/bootstrap/less/pagination.less";
// @import "../node_modules/bootstrap/less/pager.less";
// @import "../node_modules/bootstrap/less/labels.less";
// @import "../node_modules/bootstrap/less/badges.less";
// @import "../node_modules/bootstrap/less/jumbotron.less";
// @import "../node_modules/bootstrap/less/thumbnails.less";
// @import "../node_modules/bootstrap/less/alerts.less";
// @import "../node_modules/bootstrap/less/progress-bars.less";
//@import "../node_modules/bootstrap/less/media.less";
// @import "../node_modules/bootstrap/less/list-group.less";
//@import "../node_modules/bootstrap/less/panels.less";
// @import "../node_modules/bootstrap/less/wells.less";
// @import "../node_modules/bootstrap/less/close.less";

// Components w/ JavaScript
// @import "../node_modules/bootstrap/less/modals.less";
// @import "../node_modules/bootstrap/less/tooltip.less";
// @import "../node_modules/bootstrap/less/popovers.less";
// @import "../node_modules/bootstrap/less/carousel.less";

// Utility classes
@import "../node_modules/bootstrap/less/utilities.less";
@import "../node_modules/bootstrap/less/responsive-utilities.less";

/* ==========================================================================
   include the sprite file
   ========================================================================== */
@import "sprite/data.svg.less";

/* ==========================================================================
   include the includes
   ========================================================================== */
// mixins
@import "mixins/*";
// global modules and grid like frameworks
@import "framework/*";
// all site modules.
@import "modules/*";


/* ==========================================================================
   site config
   ========================================================================== */

// bootstrap hasn't got this anymore..
img { max-width: 100%; }

// bootstrap overrides
@headings-font-family:  "Open Sans", sans-serif;
@font-family-base:      "Open Sans", sans-serif;
@font-size-base:        16px;
@link-color:            lighten(@text-color,15%);
@line-height-base:      1.75;

// define colors here..
@blue:          #66C6E8;
@black:         #2E2D30;
@gray-light:    #ccd6dc;
@gray-lighter:  #F4F5F7;
@purple :       #923E86;
@orange:        #FFB531;

/* ==========================================================================
   site grid settings
   ========================================================================== */

// make a bootstrap site fluid
@container-sm: 100%;
@container-md: 100%;

// menu breakpoint
@menu-breakpoint: 600px;

body {
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    @media screen and (min-width: @screen-sm-min){
      font-size: 14px;
    }
    @media screen and (min-width: @screen-md-min){
    	font-size: 16px;
    }
}