<form method='post' action='{{path('send_contactform')}}#form'>

    <div class="form-group">
        {{ form_label(form.name) }}<span class="required">*</span>
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.email) }}<span class="required">*</span>
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.message) }}<span class="required">*</span>
        {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': '4'}}) }}
    </div>

    {{ form_widget(form._token) }}
    {{ form_widget(form.submit) }}
    
</form>
