Beste Heer/Mevrouw,
<p>
    Er is een bericht gestuurd op de website.
</p>

<p>
    Naam: {{ contactform.name }}<br>
    E-mail: {{ contactform.email }}<br>
    Onderwerp: {{ contactform.subject }}
    Bericht: {{ contactform.message }}
</p>
