.border { border: solid 1px @gray-light; }

.border-top { border-top: solid 1px @gray-light; }
.border-left { border-left: solid 1px @gray-light; }
.border-right { border-right: solid 1px @gray-light; }
.border-bottom { border-bottom: solid 1px @gray-light; }