// --------------------------------- */
// buttons
// --------------------------------- */

.btn-base {
    border: none;
    display: inline-block;
    padding: .3em .85em;
    text-transform: uppercase;
    font-weight: 700;
    &.active,
    &:focus,
    &:hover {
        text-decoration: none;
    }
}

button,
.btn {
	.btn-base;
    background: @black;
    color: #fff;
    &.active,
    &:focus,
    &:hover {
        background: @purple;
        color: #fff;
    }
    //border-color: @purple;
    color: #fff;   
}

