.card {

    padding: 2em 2.5em 4em;
	text-align: center;
	
    // border
    // create with before to fix css-columns bug
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 2em;
        .border;
       .border-radius(1em);
    }
}