
// padding modifications
.no-bot-pad { padding-bottom: 0; }
.no-top-pad { padding-top: 0; }

// margin modifications
.botspace { margin-bottom: 2em; }
.botspace-lg { margin-bottom: 3.75em; }
.botspace-sm { margin-bottom: 1em; }
.botspace-xs { margin-bottom: .5em; }

// color classes
.bg-gray-light { background: @gray-light; }
.bg-gray-lighter { background: @gray-lighter; }


//hidden
.hidden {
    display: none!important;
}
