.listitem {
	.clearfix();
	
	// center the content
	@media screen and (min-width: @screen-sm-min){
		.flex-display(@display: flex);
	    .justify-content(center);
	    .align-items(center);
	}
	
	// thumb
	.thumb,
	figure {
		margin-bottom: .5em;
		@media screen and (min-width: @screen-sm-min){
			float: left;
			width: 50%;
			padding-right: @grid-gutter-width / 2;
		}
	}
	img {
		display: block;
		width: 100%;
	}

	// text styling
	.text {
		overflow: hidden;
		@media screen and (min-width: @screen-sm-min){
			float: left;
			width: 50%;
			padding-left: @grid-gutter-width / 2;
		}
	}
	h3 + .subtitle {
		margin-top: -.8em;
	}
	.subtitle {
		font-weight: 700;
		color: @blue;
	}
}