main > section {
    padding-top: 3.75em;
    padding-bottom: 3.75em;
    h2 {
        .gray-split & { margin-bottom: 1.75em; }
        @media screen and (min-width: @screen-sm-min){
            margin-bottom: 2.1em;
            text-align: center;
        }
    }
}