
/**
 *
 * margins
 *
 */


/* botspace */

.botspace-sm {
  margin-bottom: 1em;
}
.botspace,
.botspace-md {
  margin-bottom: 2em; 
}
.botspace-lg {
  margin-bottom: 4em;
}

/* topspace */

.topspace-sm {
    margin-top: 1em;
}
.topspace,
.topspace-md {
    margin-top: 2em; 
}
.topspace-lg {
    margin-top: 4em;
}


/**
 *
 * paddings
 *
 */

/* air - all around padding */

.air {
    padding: 1em;
    @media screen and (min-width: @screen-md-min){
        padding: 2em 1.5em;
    }
}
.air-v {
    padding: 1em 0;
}

/* top padding */

.top-pad-sm {
    padding-top: 1em;
}

.top-pad,
.top-pad-md {
  padding-top: 2em;
}

.top-pad-lg {
    padding-top: 4em;
}

/* bottom padding */


.bot-pad-sm {
    padding-bottom: 1em;
}

.bot-pad,
.bot-pad-md {
    padding-bottom: 2em;
}

.bot-pad-lg {
    padding-bottom: 4em;
}

